@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@400;700&display=swap");

a {
  text-decoration: none;
}

#about-container {
  display: flex;
  margin-top: 80px;
  margin-left: 40px;
}

#about-description p {
  width: 490px;
  margin-top: 10px;
}

.about-header {
  font-size: 2.125rem;
  margin: 0px;
}

#about-image img {
  margin-right: 30px;
  border-radius: 50%;
}

.adj-btn {
  font-size: 1.075rem;
  width: 30px;
  height: 37px;
  background-color: #9e42b8;
  color: #ffffff;
  padding: 0px;
  border-style: none;
  margin: 10px 0px 0px 0px;
}

.badge {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  color: #403637;
  padding: 3px 8px 3px 8px; /* Set padding to 3px once the number is >= 10 */
  background-color: #8cb842;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  left: 15px;
  top: 20px;
  visibility: hidden;
}

.black-background {
  background-color: #403637;
  width: 215px;
  height: 75px;
  opacity: 0.8;
  position: absolute;
  top: 102px;
  border-radius: 5px;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  width: 960px;
  margin: auto;
}

.company-values {
  margin-left: 240px;
}

.company-values img {
  border-radius: 50%;
}

.company-values li {
  display: flex;
  margin-bottom: 20px;
}

.company-value-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.company-value-text p {
  margin: 10px 0px 0px 0px;
  width: 490px;
}

.dec {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 10px;
}

.featured-product-name {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0px;
  margin-left: 15px;
  margin-top: 12px;
}

.featured-product-price {
  font-size: 1.125rem;
  color: #cfd8dc;
  margin: 0px;
  margin-left: 15px;
}

.featured-products {
  display: flex;
  justify-content: center;
  width: 745px;
  margin: auto;
  margin-bottom: 100px;
}

.featured-products img {
  border-radius: 5%;
}

.featured-products li {
  position: relative;
}

.featured-products li:nth-child(2) {
  margin-right: 50px;
  margin-left: 50px;
}

h1 {
  font-size: 1.3125rem;
  font-family: "Kaushan Script", cursive;
  height: 1.625rem;
  vertical-align: middle;
  margin: 0px;
  margin-right: 470px;
  margin-bottom: 10px;
}

h1 a {
  color: #ffffff;
}

h2 {
  font-size: 1.68rem;
  color: #496b11;
}

h2.home-page-header {
  font-size: 1.6875rem;
  color: #5a1c6b;
  text-align: center;
  font-family: "Kaushan Script", cursive;
}

h2.home-page-header.tagline {
  margin-top: 120px;
  font-family: "Kaushan Script", cursive;
}

h3 {
  font-size: 1.5rem;
  color: #496b11;
  margin: 0px;
}

header {
  height: 60px;
}

img {
  max-width: 100%;
}

.inc {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nav-logo {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  max-height: 55px;
}

#nav-main ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}

#nav-main li {
  margin-right: 20px;
  width: auto;
  text-align: center;
}

#nav-main a {
  font-size: 0.975rem;
  color: #ffffff;
}

p {
  font-size: 1.125rem;
}

.product-details-container {
  display: flex;
}

.product-name {
  font-size: 1.125rem;
  margin: 0px;
}

#product-page-cart-btn {
  font-size: 1.06rem;
  width: 156px;
  height: 50px;
  background-color: #9e42b8;
  color: #ffffff;
  padding: 12px 0px 12px 0px;
  border-style: none;
  border-radius: 5px;
  margin: 15px 0px 0px 10px;
}

#product-page-container {
  display: flex;
  margin-top: 80px;
}

.product-page-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

#product-page-image {
  margin-right: 30px;
}

#product-page-quantity {
  display: flex;
}

#product-page-size {
  display: flex;
}

.product-price {
  font-size: 1.125rem;
  margin: 0px;
  text-align: right;
  position: absolute;
  right: 0px;
}

#product-quantity-input {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  background-color: #b1c0c4;
  border-style: none;
  border-color: #f3f3f3;
  width: 50px;
  height: 17px;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 0px 0px;
  color: #40494c;
  text-align: center;
}

#product-size-list {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  background-color: #b1c0c4;
  border-radius: 5px;
  border-color: #f3f3f3;
  width: 115px;
  margin: 10px auto 10px 15px;
  color: #40494c;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}

.products-list li {
  margin-right: 50px;
  position: relative;
}

#products-page {
  margin-top: 50px;
}

#products-page h2 {
  font-size: 2.125rem;
}

.shopping-cart {
  position: relative;
}

.shopping-cart-logo {
  vertical-align: middle;
  width: 25px;
}

#site-masthead {
  background-color: #5a1c6b;
  color: #ffffff;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
