<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Products // Jamn Good Jelly!</title>
  </head>

  <body>
    <header id="site-masthead">
      <img src="#" alt="Logo" />
      <h1>Jamn Good Jelly</h1>
      <nav id="nav-main">
        <ul>
          <li><a href="#">Products</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><img src="#" alt="Shopping cart" /></li>
        </ul>
      </nav>
    </header>
    <div id="products-page">
      <h2>Our Products</h2>
      <ul class="products-list">
        <li>
          <img src="#" />
          <p class="product-name">%PRODUCTNAME%</p>
          <p class="product-price">%PRODUCTPRICE%</p>
        </li>
      </ul>
    </div>
  </body>
</html>
