<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Products // Jam Good!</title>
  </head>

  <body>
    <div class="container">
      <h1>Our Products</h1>

      <figure class="product">
        <a href="/home" class="back">
          <span class="emoji-left">👈</span>Back
        </a>
        <div class="product__list">
          <div class="product--0">
            <img span="productImage" src="#" alt="{%PRODUCTNUMBER%}" />
            <p span="productName">{%PRODUCTNAME%}</p>
            <p span="productPrice">{%PRODUCTPRICE%}</p>
          </div>
        </div>
      </figure>
    </div>
  </body>
</html>
